# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Run the below line of code to create a dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon and it should be a pandas DataFrame.

In [4]:
pokemon = pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. change the order of the columns arrange it ascending order & their values to

In [16]:
pokemon[sorted(pokemon.columns)].sort_values(by=sorted(pokemon.columns))

    evolution  hp        name pokedex   type
1  Charmeleon  39  Charmander      no   fire
0     Ivysaur  45   Bulbasaur     yes  grass
3     Metapod  45    Caterpie      no    bug
2   Wartortle  44    Squirtle     yes  water

In [19]:
pokemon[sorted(pokemon.columns)].sort_values(by=sorted(pokemon.columns))

    evolution  hp        name pokedex   type
1  Charmeleon  39  Charmander      no   fire
0     Ivysaur  45   Bulbasaur     yes  grass
3     Metapod  45    Caterpie      no    bug
2   Wartortle  44    Squirtle     yes  water

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [21]:
pokemon['place'] = ['lakes','parks','hills','venue']
pokemon

         name   evolution   type  hp pokedex  place
0   Bulbasaur     Ivysaur  grass  45     yes  lakes
1  Charmander  Charmeleon   fire  39      no  parks
2    Squirtle   Wartortle  water  44     yes  hills
3    Caterpie     Metapod    bug  45      no  venue

### Step 6. Display the data type of each column

In [23]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   evolution  4 non-null      object
 2   type       4 non-null      object
 3   hp         4 non-null      int64
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 324.0+ bytes