In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('pokemon.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [3]:
df.shape

(800, 12)

In [4]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      359 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [8]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [9]:
df.describe(include='object')

             Name Type 1  Type 2
count         800    800     359
unique        800     18      18
top     Bulbasaur  Water  Flying
freq            1    112      81

In [10]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        441
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [12]:
df.isnull().sum()/df.shape[0]*100

#              0.000
Name           0.000
Type 1         0.000
Type 2        55.125
HP             0.000
Attack         0.000
Defense        0.000
Sp. Atk        0.000
Sp. Def        0.000
Speed          0.000
Generation     0.000
Legendary      0.000
dtype: float64

In [15]:
df.drop(columns=['Type 2'],inplace=True)

In [17]:
df.drop(columns=['#'],inplace=True)

In [18]:
df

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,60,62,63,80,80,60,1,False
2,Venusaur,Grass,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False
4,Charmander,Fire,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,80,160,60,170,130,80,6,True
799,Volcanion,Fire,80,110,120,130,90,70,6,True

In [19]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [21]:
for i in df['Name']:
    print(i)

Bulbasaur
Ivysaur
Venusaur
VenusaurMega Venusaur
Charmander
Charmeleon
Charizard
CharizardMega Charizard X
CharizardMega Charizard Y
Squirtle
Wartortle
Blastoise
BlastoiseMega Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
BeedrillMega Beedrill
Pidgey
Pidgeotto
Pidgeot
PidgeotMega Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
Sandshrew
Sandslash
Nidoran (Female)
Nidorina
Nidoqueen
Nidoran (Male)
Nidorino
Nidoking
Clefairy
Clefable
Vulpix
Ninetales
Jigglypuff
Wigglytuff
Zubat
Golbat
Oddish
Gloom
Vileplume
Paras
Parasect
Venonat
Venomoth
Diglett
Dugtrio
Meowth
Persian
Psyduck
Golduck
Mankey
Primeape
Growlithe
Arcanine
Poliwag
Poliwhirl
Poliwrath
Abra
Kadabra
Alakazam
AlakazamMega Alakazam
Machop
Machoke
Machamp
Bellsprout
Weepinbell
Victreebel
Tentacool
Tentacruel
Geodude
Graveler
Golem
Ponyta
Rapidash
Slowpoke
Slowbro
SlowbroMega Slowbro
Magnemite
Magneton
Farfetch'd
Doduo
Dodrio
Seel
Dewgong
Grimer
Muk
Shellder
Cloyster
Gastly
Haunter
Gengar
GengarMega Gengar
Onix
Drowzee
Hypno
Krabby
Kingler
Voltorb
Electrode
Exeggcute
Exeggutor
Cubone
Marowak
Hitmonlee
Hitmonchan
Lickitung
Koffing
Weezing
Rhyhorn
Rhydon
Chansey
Tangela
Kangaskhan
KangaskhanMega Kangaskhan
Horsea
Seadra
Goldeen
Seaking
Staryu
Starmie
Mr. Mime
Scyther
Jynx
Electabuzz
Magmar
Pinsir
PinsirMega Pinsir
Tauros
Magikarp
Gyarados
GyaradosMega Gyarados
Lapras
Ditto
Eevee
Vaporeon
Jolteon
Flareon
Porygon
Omanyte
Omastar
Kabuto
Kabutops
Aerodactyl
AerodactylMega Aerodactyl
Snorlax
Articuno
Zapdos
Moltres
Dratini
Dragonair
Dragonite
Mewtwo
MewtwoMega Mewtwo X
MewtwoMega Mewtwo Y
Mew
Chikorita
Bayleef
Meganium
Cyndaquil
Quilava
Typhlosion
Totodile
Croconaw
Feraligatr
Sentret
Furret
Hoothoot
Noctowl
Ledyba
Ledian
Spinarak
Ariados
Crobat
Chinchou
Lanturn
Pichu
Cleffa
Igglybuff
Togepi
Togetic
Natu
Xatu
Mareep
Flaaffy
Ampharos
AmpharosMega Ampharos
Bellossom
Marill
Azumarill
Sudowoodo
Politoed
Hoppip
Skiploom
Jumpluff
Aipom
Sunkern
Sunflora
Yanma
Wooper
Quagsire
Espeon
Umbreon
Murkrow
Slowking
Misdreavus
Unown
Wobbuffet
Girafarig
Pineco
Forretress
Dunsparce
Gligar
Steelix
SteelixMega Steelix
Snubbull
Granbull
Qwilfish
Scizor
ScizorMega Scizor
Shuckle
Heracross
HeracrossMega Heracross
Sneasel
Teddiursa
Ursaring
Slugma
Magcargo
Swinub
Piloswine
Corsola
Remoraid
Octillery
Delibird
Mantine
Skarmory
Houndour
Houndoom
HoundoomMega Houndoom
Kingdra
Phanpy
Donphan
Porygon2
Stantler
Smeargle
Tyrogue
Hitmontop
Smoochum
Elekid
Magby
Miltank
Blissey
Raikou
Entei
Suicune
Larvitar
Pupitar
Tyranitar
TyranitarMega Tyranitar
Lugia
Ho-oh
Celebi
Treecko
Grovyle
Sceptile
SceptileMega Sceptile
Torchic
Combusken
Blaziken
BlazikenMega Blaziken
Mudkip
Marshtomp
Swampert
SwampertMega Swampert
Poochyena
Mightyena
Zigzagoon
Linoone
Wurmple
Silcoon
Beautifly
Cascoon
Dustox
Lotad
Lombre
Ludicolo
Seedot
Nuzleaf
Shiftry
Taillow
Swellow
Wingull
Pelipper
Ralts
Kirlia
Gardevoir
GardevoirMega Gardevoir
Surskit
Masquerain
Shroomish
Breloom
Slakoth
Vigoroth
Slaking
Nincada
Ninjask
Shedinja
Whismur
Loudred
Exploud
Makuhita
Hariyama
Azurill
Nosepass
Skitty
Delcatty
Sableye
SableyeMega Sableye
Mawile
MawileMega Mawile
Aron
Lairon
Aggron
AggronMega Aggron
Meditite
Medicham
MedichamMega Medicham
Electrike
Manectric
ManectricMega Manectric
Plusle
Minun
Volbeat
Illumise
Roselia
Gulpin
Swalot
Carvanha
Sharpedo
SharpedoMega Sharpedo
Wailmer
Wailord
Numel
Camerupt
CameruptMega Camerupt
Torkoal
Spoink
Grumpig
Spinda
Trapinch
Vibrava
Flygon
Cacnea
Cacturne
Swablu
Altaria
AltariaMega Altaria
Zangoose
Seviper
Lunatone
Solrock
Barboach
Whiscash
Corphish
Crawdaunt
Baltoy
Claydol
Lileep
Cradily
Anorith
Armaldo
Feebas
Milotic
Castform
Kecleon
Shuppet
Banette
BanetteMega Banette
Duskull
Dusclops
Tropius
Chimecho
Absol
AbsolMega Absol
Wynaut
Snorunt
Glalie
GlalieMega Glalie
Spheal
Sealeo
Walrein
Clamperl
Huntail
Gorebyss
Relicanth
Luvdisc
Bagon
Shelgon
Salamence
SalamenceMega Salamence
Beldum
Metang
Metagross
MetagrossMega Metagross
Regirock
Regice
Registeel
Latias
LatiasMega Latias
Latios
LatiosMega Latios
Kyogre
KyogrePrimal Kyogre
Groudon
GroudonPrimal Groudon
Rayquaza
RayquazaMega Rayquaza
Jirachi
DeoxysNormal Forme
DeoxysAttack Forme
DeoxysDefense Forme
DeoxysSpeed Forme
Turtwig
Grotle
Torterra
Chimchar
Monferno
Infernape
Piplup
Prinplup
Empoleon
Starly
Staravia
Staraptor
Bidoof
Bibarel
Kricketot
Kricketune
Shinx
Luxio
Luxray
Budew
Roserade
Cranidos
Rampardos
Shieldon
Bastiodon
Burmy
WormadamPlant Cloak
WormadamSandy Cloak
WormadamTrash Cloak
Mothim
Combee
Vespiquen
Pachirisu
Buizel
Floatzel
Cherubi
Cherrim
Shellos
Gastrodon
Ambipom
Drifloon
Drifblim
Buneary
Lopunny
LopunnyMega Lopunny
Mismagius
Honchkrow
Glameow
Purugly
Chingling
Stunky
Skuntank
Bronzor
Bronzong
Bonsly
Mime Jr.
Happiny
Chatot
Spiritomb
Gible
Gabite
Garchomp
GarchompMega Garchomp
Munchlax
Riolu
Lucario
LucarioMega Lucario
Hippopotas
Hippowdon
Skorupi
Drapion
Croagunk
Toxicroak
Carnivine
Finneon
Lumineon
Mantyke
Snover
Abomasnow
AbomasnowMega Abomasnow
Weavile
Magnezone
Lickilicky
Rhyperior
Tangrowth
Electivire
Magmortar
Togekiss
Yanmega
Leafeon
Glaceon
Gliscor
Mamoswine
Porygon-Z
Gallade
GalladeMega Gallade
Probopass
Dusknoir
Froslass
Rotom
RotomHeat Rotom
RotomWash Rotom
RotomFrost Rotom
RotomFan Rotom
RotomMow Rotom
Uxie
Mesprit
Azelf
Dialga
Palkia
Heatran
Regigigas
GiratinaAltered Forme
GiratinaOrigin Forme
Cresselia
Phione
Manaphy
Darkrai
ShayminLand Forme
ShayminSky Forme
Arceus
Victini
Snivy
Servine
Serperior
Tepig
Pignite
Emboar
Oshawott
Dewott
Samurott
Patrat
Watchog
Lillipup
Herdier
Stoutland
Purrloin
Liepard
Pansage
Simisage
Pansear
Simisear
Panpour
Simipour
Munna
Musharna
Pidove
Tranquill
Unfezant
Blitzle
Zebstrika
Roggenrola
Boldore
Gigalith
Woobat
Swoobat
Drilbur
Excadrill
Audino
AudinoMega Audino
Timburr
Gurdurr
Conkeldurr
Tympole
Palpitoad
Seismitoad
Throh
Sawk
Sewaddle
Swadloon
Leavanny
Venipede
Whirlipede
Scolipede
Cottonee
Whimsicott
Petilil
Lilligant
Basculin
Sandile
Krokorok
Krookodile
Darumaka
DarmanitanStandard Mode
DarmanitanZen Mode
Maractus
Dwebble
Crustle
Scraggy
Scrafty
Sigilyph
Yamask
Cofagrigus
Tirtouga
Carracosta
Archen
Archeops
Trubbish
Garbodor
Zorua
Zoroark
Minccino
Cinccino
Gothita
Gothorita
Gothitelle
Solosis
Duosion
Reuniclus
Ducklett
Swanna
Vanillite
Vanillish
Vanilluxe
Deerling
Sawsbuck
Emolga
Karrablast
Escavalier
Foongus
Amoonguss
Frillish
Jellicent
Alomomola
Joltik
Galvantula
Ferroseed
Ferrothorn
Klink
Klang
Klinklang
Tynamo
Eelektrik
Eelektross
Elgyem
Beheeyem
Litwick
Lampent
Chandelure
Axew
Fraxure
Haxorus
Cubchoo
Beartic
Cryogonal
Shelmet
Accelgor
Stunfisk
Mienfoo
Mienshao
Druddigon
Golett
Golurk
Pawniard
Bisharp
Bouffalant
Rufflet
Braviary
Vullaby
Mandibuzz
Heatmor
Durant
Deino
Zweilous
Hydreigon
Larvesta
Volcarona
Cobalion
Terrakion
Virizion
TornadusIncarnate Forme
TornadusTherian Forme
ThundurusIncarnate Forme
ThundurusTherian Forme
Reshiram
Zekrom
LandorusIncarnate Forme
LandorusTherian Forme
Kyurem
KyuremBlack Kyurem
KyuremWhite Kyurem
KeldeoOrdinary Forme
KeldeoResolute Forme
MeloettaAria Forme
MeloettaPirouette Forme
Genesect
Chespin
Quilladin
Chesnaught
Fennekin
Braixen
Delphox
Froakie
Frogadier
Greninja
Bunnelby
Diggersby
Fletchling
Fletchinder
Talonflame
Scatterbug
Spewpa
Vivillon
Litleo
Pyroar
Flabébé
Floette
Florges
Skiddo
Gogoat
Pancham
Pangoro
Furfrou
Espurr
MeowsticMale
MeowsticFemale
Honedge
Doublade
AegislashBlade Forme
AegislashShield Forme
Spritzee
Aromatisse
Swirlix
Slurpuff
Inkay
Malamar
Binacle
Barbaracle
Skrelp
Dragalge
Clauncher
Clawitzer
Helioptile
Heliolisk
Tyrunt
Tyrantrum
Amaura
Aurorus
Sylveon
Hawlucha
Dedenne
Carbink
Goomy
Sliggoo
Goodra
Klefki
Phantump
Trevenant
PumpkabooAverage Size
PumpkabooSmall Size
PumpkabooLarge Size
PumpkabooSuper Size
GourgeistAverage Size
GourgeistSmall Size
GourgeistLarge Size
GourgeistSuper Size
Bergmite
Avalugg
Noibat
Noivern
Xerneas
Yveltal
Zygarde50% Forme
Diancie
DiancieMega Diancie
HoopaHoopa Confined
HoopaHoopa Unbound
Volcanion

In [22]:
df[['Name','Type 1','HP']]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [23]:
df[['Name','Type 1','HP']][200:221]

           Name   Type 1   HP
200   Sudowoodo     Rock   70
201    Politoed    Water   90
202      Hoppip    Grass   35
203    Skiploom    Grass   55
204    Jumpluff    Grass   75
205       Aipom   Normal   55
206     Sunkern    Grass   30
207    Sunflora    Grass   75
208       Yanma      Bug   65
209      Wooper    Water   55
210    Quagsire    Water   95
211      Espeon  Psychic   65
212     Umbreon     Dark   95
213     Murkrow     Dark   60
214    Slowking    Water   95
215  Misdreavus    Ghost   60
216       Unown  Psychic   48
217   Wobbuffet  Psychic  190
218   Girafarig   Normal   70
219      Pineco      Bug   50
220  Forretress      Bug   75

In [24]:
df.iloc[200:221,0:4]

           Name   Type 1   HP  Attack
200   Sudowoodo     Rock   70     100
201    Politoed    Water   90      75
202      Hoppip    Grass   35      35
203    Skiploom    Grass   55      45
204    Jumpluff    Grass   75      55
205       Aipom   Normal   55      70
206     Sunkern    Grass   30      30
207    Sunflora    Grass   75      75
208       Yanma      Bug   65      65
209      Wooper    Water   55      45
210    Quagsire    Water   95      85
211      Espeon  Psychic   65      65
212     Umbreon     Dark   95      65
213     Murkrow     Dark   60      85
214    Slowking    Water   95      75
215  Misdreavus    Ghost   60      60
216       Unown  Psychic   48      72
217   Wobbuffet  Psychic  190      33
218   Girafarig   Normal   70      80
219      Pineco      Bug   50      65
220  Forretress      Bug   75      90

In [30]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [29]:
df['Type 1'].nunique()

18

In [32]:
df['Type 1'].value_counts()   # frequency check krte hai

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [33]:
df['Type 1'].mode()

0    Water
Name: Type 1, dtype: object

In [35]:
df.sort_values(by='Attack')

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,Happiny,Normal,100,5,5,15,65,30,4,False
121,Chansey,Normal,250,5,5,35,105,50,1,False
230,Shuckle,Bug,20,10,230,10,230,5,2,False
261,Blissey,Normal,255,10,10,75,135,55,2,False
139,Magikarp,Water,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...
429,DeoxysAttack Forme,Psychic,50,180,20,180,20,150,3,True
426,RayquazaMega Rayquaza,Dragon,105,180,100,180,100,115,3,True
424,GroudonPrimal Groudon,Ground,100,180,160,150,90,90,3,True
232,HeracrossMega Heracross,Bug,80,185,115,40,105,75,2,False
163,MewtwoMega Mewtwo X,Psychic,106,190,100,154,100,130,1,True

In [37]:
df.sort_values(by='Attack', ascending=False)

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,MewtwoMega Mewtwo X,Psychic,106,190,100,154,100,130,1,True
232,HeracrossMega Heracross,Bug,80,185,115,40,105,75,2,False
424,GroudonPrimal Groudon,Ground,100,180,160,150,90,90,3,True
426,RayquazaMega Rayquaza,Dragon,105,180,100,180,100,115,3,True
429,DeoxysAttack Forme,Psychic,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...
139,Magikarp,Water,20,10,55,15,20,80,1,False
261,Blissey,Normal,255,10,10,75,135,55,2,False
230,Shuckle,Bug,20,10,230,10,230,5,2,False
121,Chansey,Normal,250,5,5,35,105,50,1,False
488,Happiny,Normal,100,5,5,15,65,30,4,False

In [39]:
df.sort_values(by='Name', ascending=False)

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,Zygarde50% Forme,Dragon,108,100,121,81,95,95,6,True
695,Zweilous,Dark,72,85,70,65,70,58,5,False
46,Zubat,Poison,40,45,35,30,40,55,1,False
631,Zorua,Dark,40,65,40,80,40,65,5,False
632,Zoroark,Dark,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...
393,AbsolMega Absol,Dark,65,150,60,115,60,115,3,False
392,Absol,Dark,65,130,60,75,60,75,3,False
68,Abra,Psychic,25,20,15,105,55,90,1,False
511,AbomasnowMega Abomasnow,Grass,90,132,105,132,105,30,4,False
510,Abomasnow,Grass,90,92,75,92,85,60,4,False

In [40]:
df.sort_values(by=['Attack','Speed'],ascending=[False,False])

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,MewtwoMega Mewtwo X,Psychic,106,190,100,154,100,130,1,True
232,HeracrossMega Heracross,Bug,80,185,115,40,105,75,2,False
429,DeoxysAttack Forme,Psychic,50,180,20,180,20,150,3,True
426,RayquazaMega Rayquaza,Dragon,105,180,100,180,100,115,3,True
424,GroudonPrimal Groudon,Ground,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...
139,Magikarp,Water,20,10,55,15,20,80,1,False
261,Blissey,Normal,255,10,10,75,135,55,2,False
230,Shuckle,Bug,20,10,230,10,230,5,2,False
121,Chansey,Normal,250,5,5,35,105,50,1,False
488,Happiny,Normal,100,5,5,15,65,30,4,False

In [41]:
df.head()

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,60,62,63,80,80,60,1,False
2,Venusaur,Grass,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False
4,Charmander,Fire,39,52,43,60,50,65,1,False

In [50]:
df['Total'] = df.iloc[:,2:8].sum(axis=1)

In [51]:
df

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,80,110,120,130,90,70,6,True,600

# Filtering

In [55]:
df[df['Type 1'] == 'Flying']

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
702,TornadusIncarnate Forme,Flying,79,115,70,125,80,111,5,True,580
703,TornadusTherian Forme,Flying,79,100,80,110,90,121,5,True,580
790,Noibat,Flying,40,30,35,45,40,55,6,False,245
791,Noivern,Flying,85,70,80,97,80,123,6,False,535

In [56]:
df[df['Type 1'] == 'Fairy']

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
40,Clefairy,Fairy,70,45,48,60,65,35,1,False,323
41,Clefable,Fairy,95,70,73,95,90,60,1,False,483
187,Cleffa,Fairy,50,25,28,45,55,15,2,False,218
189,Togepi,Fairy,35,20,65,40,65,20,2,False,245
190,Togetic,Fairy,55,40,85,80,105,40,2,False,405
225,Snubbull,Fairy,60,80,50,40,40,30,2,False,300
226,Granbull,Fairy,90,120,75,60,60,45,2,False,450
519,Togekiss,Fairy,85,50,95,120,115,80,4,False,545
737,Flabébé,Fairy,44,38,39,61,79,42,6,False,303
738,Floette,Fairy,54,45,47,75,98,52,6,False,371
739,Florges,Fairy,78,65,68,112,154,75,6,False,552
752,Spritzee,Fairy,78,52,60,63,65,23,6,False,341
753,Aromatisse,Fairy,101,72,72,99,89,29,6,False,462
754,Swirlix,Fairy,62,48,66,59,57,49,6,False,341
755,Slurpuff,Fairy,82,80,86,85,75,72,6,False,480
770,Sylveon,Fairy,95,65,65,110,130,60,6,False,525
792,Xerneas,Fairy,126,131,95,131,98,99,6,True,680

In [59]:
df[df['Attack']>150]

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
137,PinsirMega Pinsir,Bug,65,155,120,65,90,105,1,False,600
141,GyaradosMega Gyarados,Water,95,155,109,70,130,81,1,False,640
163,MewtwoMega Mewtwo X,Psychic,106,190,100,154,100,130,1,True,780
232,HeracrossMega Heracross,Bug,80,185,115,40,105,75,2,False,600
268,TyranitarMega Tyranitar,Rock,100,164,150,95,120,71,2,False,700
279,BlazikenMega Blaziken,Fire,80,160,80,130,80,100,3,False,630
313,Slaking,Normal,150,160,100,95,65,100,3,False,670
387,BanetteMega Banette,Ghost,64,165,75,93,83,75,3,False,555
424,GroudonPrimal Groudon,Ground,100,180,160,150,90,90,3,True,770
426,RayquazaMega Rayquaza,Dragon,105,180,100,180,100,115,3,True,780
429,DeoxysAttack Forme,Psychic,50,180,20,180,20,150,3,True,600
454,Rampardos,Rock,97,165,60,65,50,58,4,False,495
494,GarchompMega Garchomp,Dragon,108,170,115,120,95,92,4,False,700
527,GalladeMega Gallade,Psychic,68,165,95,65,115,110,4,False,618
543,Regigigas,Normal,110,160,110,80,110,100,4,True,670
711,KyuremBlack Kyurem,Dragon,125,170,100,120,90,95,5,True,700
796,DiancieMega Diancie,Rock,50,160,110,160,110,110,6,True,700
798,HoopaHoopa Unbound,Psychic,80,160,60,170,130,80,6,True,680

In [63]:
df[(df['Type 1'] == 'Fairy') & (df['Attack']<50)]

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
40,Clefairy,Fairy,70,45,48,60,65,35,1,False,323
187,Cleffa,Fairy,50,25,28,45,55,15,2,False,218
189,Togepi,Fairy,35,20,65,40,65,20,2,False,245
190,Togetic,Fairy,55,40,85,80,105,40,2,False,405
737,Flabébé,Fairy,44,38,39,61,79,42,6,False,303
738,Floette,Fairy,54,45,47,75,98,52,6,False,371
754,Swirlix,Fairy,62,48,66,59,57,49,6,False,341

In [65]:
df[(df['Type 1'] == 'Fairy') | (df['Type 1'] == 'Flying')]

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
40,Clefairy,Fairy,70,45,48,60,65,35,1,False,323
41,Clefable,Fairy,95,70,73,95,90,60,1,False,483
187,Cleffa,Fairy,50,25,28,45,55,15,2,False,218
189,Togepi,Fairy,35,20,65,40,65,20,2,False,245
190,Togetic,Fairy,55,40,85,80,105,40,2,False,405
225,Snubbull,Fairy,60,80,50,40,40,30,2,False,300
226,Granbull,Fairy,90,120,75,60,60,45,2,False,450
519,Togekiss,Fairy,85,50,95,120,115,80,4,False,545
702,TornadusIncarnate Forme,Flying,79,115,70,125,80,111,5,True,580
703,TornadusTherian Forme,Flying,79,100,80,110,90,121,5,True,580
737,Flabébé,Fairy,44,38,39,61,79,42,6,False,303
738,Floette,Fairy,54,45,47,75,98,52,6,False,371
739,Florges,Fairy,78,65,68,112,154,75,6,False,552
752,Spritzee,Fairy,78,52,60,63,65,23,6,False,341
753,Aromatisse,Fairy,101,72,72,99,89,29,6,False,462
754,Swirlix,Fairy,62,48,66,59,57,49,6,False,341
755,Slurpuff,Fairy,82,80,86,85,75,72,6,False,480
770,Sylveon,Fairy,95,65,65,110,130,60,6,False,525
790,Noibat,Flying,40,30,35,45,40,55,6,False,245
791,Noivern,Flying,85,70,80,97,80,123,6,False,535
792,Xerneas,Fairy,126,131,95,131,98,99,6,True,680

In [68]:
df[(df['Legendary'] == 'Fairy') | (df['Legendary'] != 'Fairy')]

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,80,110,120,130,90,70,6,True,600

# Aggregation

In [69]:
df

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,80,110,120,130,90,70,6,True,600

In [75]:
df.groupby(['Type 1'])['Attack'].sum().sort_values(ascending=False).reset_index()

      Type 1  Attack
0      Water    8305
1     Normal    7200
2      Grass    5125
3        Bug    4897
4       Fire    4408
5       Rock    4086
6    Psychic    4073
7     Dragon    3588
8     Ground    3064
9   Electric    3040
10      Dark    2740
11  Fighting    2613
12     Steel    2503
13     Ghost    2361
14    Poison    2091
15       Ice    1746
16     Fairy    1046
17    Flying     315

In [79]:
df.groupby(['Type 1'])['Attack'].agg(['mean','max','sum','min']).sort_values(by='mean',ascending=False)

                mean  max   sum  min
Type 1
Dragon    112.125000  180  3588   50
Fighting   96.777778  145  2613   35
Ground     95.750000  180  3064   40
Rock       92.863636  165  4086   40
Steel      92.703704  150  2503   24
Dark       88.387097  150  2740   50
Fire       84.769231  160  4408   30
Flying     78.750000  115   315   30
Poison     74.678571  106  2091   43
Water      74.151786  155  8305   10
Ghost      73.781250  165  2361   30
Normal     73.469388  160  7200    5
Grass      73.214286  132  5125   27
Ice        72.750000  130  1746   30
Psychic    71.456140  190  4073   20
Bug        70.971014  185  4897   10
Electric   69.090909  123  3040   30
Fairy      61.529412  131  1046   20

In [80]:
df

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,80,110,120,130,90,70,6,True,600

In [83]:
df.to_csv('update_pok.csv', index=False)