# Factorial Number

In [11]:
n = int(input("enter your number"))
f = 1 
for i in range(1,n+1):
    f *=i
print(f)

enter your number 5

120

# Palindrome

In [15]:
n = "madam"
if n == n[::-1]:
    print("Palindrome")
else:
    print("not Palindrome")

Palindrome

# Reverse python name

In [16]:
n = "python"
a =  n[::-1]
print(a)

nohtyp

# Facbonacci series

In [1]:
n = int(input("enter your number"))
a,b = 0,1
for i in range(1,n+1):
    print(a, end= " ")
    a,b = b, b+a

enter your number 10

0 1 1 2 3 5 8 13 21 34

# Anagram

In [17]:
a = "listen"
b = "silent"
if sorted(a) == sorted(b):
    print("Anagram")
else:
    print("not Anagram")

Anagram

# Second Highest NUmber

In [10]:
a = [1,2,3,4,1,2,3,4,5,5,6]
a = list(set(a))
a.sort()
a = a[-1]
print(a)

6

# Find Duplicate

In [22]:
a = [1,2,3,4,5,6,1,2,3,4,5,6,7]
a = list(set(a))
print(a)

[1, 2, 3, 4, 5, 6, 7]

# maximum number occure

In [12]:
a = "python progamming"
a = a.split()
a = max(a,key=len)
print(a)

progamming

# prime not prime

In [33]:
n = int(input("enter your number"))
for i in range(2,n):
    if n%i == 0:
        print("not prime")
        break

else:
    print("Prime")

enter your number 5

Prime

# Pattern

In [34]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [35]:
n=5
for i in range(5,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [2]:
n = 5   # Same as pattern
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end = ' ' )
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

#  Square Pattern

In [1]:
x

1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

In [2]:
n = 5
for i in range(1,n+1):
    for j in range(1,n+1):
        print('*',end = ' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1]:
a =5
for i in range(1,a+1):
    for j in range(1,a+1):   
        if i == 1 or i == a or j == 1 or j ==a:
            print('*', end= " ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

# Vowels Count

In [1]:
a = 'abdul'
b = 'aeiouAEIOU'
count = 0
for i in a:
    if i in b:
        count +=1
print(count)

2

# oops

In [23]:
class car:
    def __init__(self,name,color):
        self.name = name
        self.color = color
    def start(self):
        print(f"{self.name} is brand and color is {self.color}")
car1 = car("BMW","Blue")
car1.start()

BMW is brand and color is Blue

# finding missing number

In [5]:
a = [1,2,3,5,6]
n = 8
expected = n*(n+1)//2
actual = sum(a)
missing = expected - actual
print(missing)

19

In [2]:
a = [1,1,1,2,2,2,3,3,3,4,5,6,6,6,6,7,7,7,7,8,8,8,9,9,9,9]
d = {}
for i in a:
    d[i] = a.count(i)
print(d)

{1: 3, 2: 3, 3: 3, 4: 1, 5: 1, 6: 4, 7: 4, 8: 3, 9: 4}

In [1]:
a = 5      # 
for i in range(1,a+1):
    for j in range(0,i+1):
        print(chr(65+j),end = " ")
    print()

A B
A B C
A B C D
A B C D E
A B C D E F

# find duplicate with out using sort function

In [1]:
a = [1,2,3,4,5,6,1,2,3,6,5,47,8,9,8,2]
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 47, 8, 9]

# find the longest term

In [2]:
a = 'abcabcbc'

In [5]:
a = [1,2,3,4,5,6,7]
l = []
for i in range(0,len(a),3):
    l.append(a[i:i+3])
print(l)

[[1, 2, 3], [4, 5, 6], [7]]

# Create a Bankaccount to check balance deposite and withdraw balance

In [1]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance   # public variable for simplicity

    def deposit(self, amount):
        self.balance += amount
        return f"{amount} deposited. New balance = {self.balance}"

    def withdraw(self, amount):
        if amount > self.balance:
            return "Insufficient balance"
        self.balance -= amount
        return f"{amount} withdrawn. Remaining balance = {self.balance}"

    def check_balance(self):
        return f"Current balance = {self.balance}"


# Testing
acc = BankAccount("Tahir", 1000)
print(acc.deposit(500))
print(acc.withdraw(300))
print(acc.check_balance())
print(acc.withdraw(5000))

500 deposited. New balance = 1500
300 withdrawn. Remaining balance = 1200
Current balance = 1200
Insufficient balance

In [6]:
n =5
for i in range(n):
    for j in range(n-i):
        print(' ',end = ' ')
    for k in range(2*i+1):
        
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [7]:
n =5
for i in range(n):
    for j in range(n-i):
        print(' ',end = ' ')
    for k in range(2*i+1):
        if k==0 or k == 2*i or i == n-1:
        
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

          *
        *   *
      *       *
    *           *
  * * * * * * * * *

In [5]:
n1 = int(input('enter your number'))
n2 = int(input('enter your number'))
op = input("+,-,*,/")

if op == '+':
    print(n1+n2)
elif op == '-':
    print(n1-n2)
elif op == '*':
    print(n1*n2)
elif op == '/':
    print(n1/n2)
else:
    print('invalid operator')

enter your number 10
enter your number 21
+,-,*,/ +

31

In [ ]:
class Bankaccount:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance
    def deposite(self,amount):
        self.balance += amount
        print(f"{amount} deposited. New balance is {self.balance}")
    def withdraw(self,amount):
        if amount > self.balance:
            print('Insufficient Balance')
        self.balance -= amount
        print(f"{amount} withdraw. Remaining Balance is {self.balance}")
    def check_balance(self):

# First Repeat value

In [25]:
arr = [1,3,2,3,5,6,9,8,7,2]
a = []
for i in arr:
    if i in a:
        print(i)
        break
    else:
        a.append(i)

3

In [29]:
a = [1,2,3,4,5,9,8,7,6,5]
ar = 10
s = []
seen = set()
for num in a:
    target = ar - num
    if target in seen:
        s.append((target, num))
    seen.add(num)

print(s)

[(1, 9), (2, 8), (3, 7), (4, 6), (5, 5)]

In [43]:
a = [1,-2,3,-4,-1,6,0]
neg = []
pos = []
for i in a:
    if i<0:
        neg.append(i)
    else:
        pos.append(i)
result = neg+pos
print(result)

[-2, -4, -1, 1, 3, 6, 0]

In [45]:
a = [1,-2,3,-4,-1,6,0]
result = [i for i in a if i<0] + [i for i in a if i>=0]
print(result)

[-2, -4, -1, 1, 3, 6, 0]

# Questions

In [ ]:
a = [-1,-2,3,4]

In [6]:
def sq(a):
    return [x**2 for x in a]
num = [-1,-2,3,4]
print(sq(num))

[1, 4, 9, 16]

In [8]:
a = [1,2,8,3,12]
a = list(a)
a.sort()
b = a[-2]
print(b)

8

In [11]:
arr = [1,1,2,1,3,5,1]
a = []
for i in arr:
    if i in a:
        print(i)
        break
    else:
        a.append(i)

1

In [9]:
a = [1,2,4,5]
n = 5
ac = n*(n+1)//2
pr = sum(a)
mi = ac - pr
print(mi)

3

In [12]:
a = [25,30,35,25,22,35]
a = list(set(a))
print(a)

[25, 35, 30, 22]

In [13]:
a = 'madam'
if a == a[::-1]:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [15]:
import numpy as np

In [21]:
a = np.random.uniform[1,10,100]
print(a)
np.mean(a)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [22]:
import pandas as pd

In [33]:
data = {'Name':['alice','Bob','Charli','David','Eva'],'Cities':['New York','Los','Chicago','Miami','San']}
df = pd.DataFrame(data)
df

     Name    Cities
0   alice  New York
1     Bob       Los
2  Charli   Chicago
3   David     Miami
4     Eva       San

In [37]:
df['age'] = [1,2,3,6,5]

In [38]:
df

     Name    Cities  age
0   alice  New York    1
1     Bob       Los    2
2  Charli   Chicago    3
3   David     Miami    6
4     Eva       San    5