In [1]:
import numpy as np
import pandas as pd

In [4]:
d=pd.date_range('1-1-2021',periods=367)

In [5]:
d

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-24', '2021-12-25', '2021-12-26', '2021-12-27',
               '2021-12-28', '2021-12-29', '2021-12-30', '2021-12-31',
               '2022-01-01', '2022-01-02'],
              dtype='datetime64[ns]', length=367, freq='D')

In [6]:
df = pd.DataFrame(d, columns=['date'])

In [7]:
df

          date
0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
..         ...
362 2021-12-29
363 2021-12-30
364 2021-12-31
365 2022-01-01
366 2022-01-02

[367 rows x 1 columns]

In [10]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [18]:
df['week'] = df['date'].dt.day_name()
df['months'] = df['date'].dt.month_name()

In [19]:
df

          date  year  month  day       week    months
0   2021-01-01  2021      1    1     Friday   January
1   2021-01-02  2021      1    2   Saturday   January
2   2021-01-03  2021      1    3     Sunday   January
3   2021-01-04  2021      1    4     Monday   January
4   2021-01-05  2021      1    5    Tuesday   January
..         ...   ...    ...  ...        ...       ...
362 2021-12-29  2021     12   29  Wednesday  December
363 2021-12-30  2021     12   30   Thursday  December
364 2021-12-31  2021     12   31     Friday  December
365 2022-01-01  2022      1    1   Saturday   January
366 2022-01-02  2022      1    2     Sunday   January

[367 rows x 6 columns]

In [20]:
sales = np.random.randint(1000, 10000, df.shape[0])

In [21]:
df['sales'] = sales

In [22]:
df

          date  year  month  day       week    months  sales
0   2021-01-01  2021      1    1     Friday   January   5906
1   2021-01-02  2021      1    2   Saturday   January   5852
2   2021-01-03  2021      1    3     Sunday   January   3108
3   2021-01-04  2021      1    4     Monday   January   3049
4   2021-01-05  2021      1    5    Tuesday   January   5943
..         ...   ...    ...  ...        ...       ...    ...
362 2021-12-29  2021     12   29  Wednesday  December   8185
363 2021-12-30  2021     12   30   Thursday  December   5343
364 2021-12-31  2021     12   31     Friday  December   2668
365 2022-01-01  2022      1    1   Saturday   January   5543
366 2022-01-02  2022      1    2     Sunday   January   8964

[367 rows x 7 columns]

# ##calculate the total revenue each month

In [27]:
df.groupby(['month'])['sales'].sum().sort_values(ascending=False)

month
3     186635
1     180745
12    177872
5     170282
10    163897
8     163177
9     156126
7     153180
11    150180
2     149655
4     149301
6     138350
Name: sales, dtype: int32

# on which date has data has an maximum sales

In [30]:
df[df['sales'] == df['sales'].max()]

         date  year  month  day    week months  sales
59 2021-03-01  2021      3    1  Monday  March   9996

## on what day tahe data has generated the total revenue is weekday and weekend

In [48]:
df['W'] = df['weeks'].apply(lambda i: 'weekend' if i == 'sunday' or i=='saturday' else 'weekdays')

In [49]:
df.groupby(['W'])['sales'].sum()

W
weekdays    2105186
Name: sales, dtype: int32

In [24]:
import numpy as np
import pandas as pd

In [5]:
p = pd.date_range('2020-1-1',periods=367)
p

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-23', '2020-12-24', '2020-12-25', '2020-12-26',
               '2020-12-27', '2020-12-28', '2020-12-29', '2020-12-30',
               '2020-12-31', '2021-01-01'],
              dtype='datetime64[ns]', length=367, freq='D')

In [7]:
df = pd.DataFrame(p,columns=['date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    367 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 3.0 KB

In [10]:
df

          date
0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
..         ...
362 2020-12-28
363 2020-12-29
364 2020-12-30
365 2020-12-31
366 2021-01-01

[367 rows x 1 columns]

In [13]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['week'] = df['date'].dt.day

In [17]:
df['months'] = df['date'].dt.month_name()
df['weeks'] = df['date'].dt.day_name()

In [21]:
sales = np.random.randint(1000,10000 ,df.shape[0])

In [22]:
df['sales'] = sales

In [23]:
df

          date  year  month  week    months      weeks  sales
0   2020-01-01  2020      1     1   January  Wednesday   9222
1   2020-01-02  2020      1     2   January   Thursday   4954
2   2020-01-03  2020      1     3   January     Friday   2328
3   2020-01-04  2020      1     4   January   Saturday   7233
4   2020-01-05  2020      1     5   January     Sunday   2088
..         ...   ...    ...   ...       ...        ...    ...
362 2020-12-28  2020     12    28  December     Monday   8468
363 2020-12-29  2020     12    29  December    Tuesday   1607
364 2020-12-30  2020     12    30  December  Wednesday   5980
365 2020-12-31  2020     12    31  December   Thursday   2793
366 2021-01-01  2021      1     1   January     Friday   5978

[367 rows x 7 columns]

In [30]:
 df.groupby(['month'])['sales'].sum().sort_values(ascending=False)

month
1     201365
8     201214
11    200077
7     199966
3     179259
12    177834
5     172545
6     168800
10    163888
2     163222
9     144003
4     133013
Name: sales, dtype: int32

In [36]:
df[df['sales']==df['sales'].max()]

    date  year  month  week   months      weeks  sales
14   NaN  2020      1    15  January  Wednesday   9983

In [41]:
df['W'] = df['weeks'].apply(lambda i: 'weekend' if i == 'sunday' or i=='saturday' else 'weekdays')

In [44]:
df.groupby(['W'])['sales'].sum()

W
weekdays    2105186
Name: sales, dtype: int32

In [46]:
df['quat_name'] = df['date'].dt.quarter

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
df

In [47]:
df['quarter'] = df['date'].dt.quarter
df['quarter_start_month'] = df['date'].dt.to_period('Q').dt.start_time.dt.month
df['quarter_end_month'] = df['date'].dt.to_period('Q').dt.end_time.dt.month

AttributeError: Can only use .dt accessor with datetimelike values