# Student Alcohol Consumption

### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.set_option('display.max_columns',None)   # saari rows and columns dekhne k liye

In [5]:
# pd.set_option('display.max_rows',None)

### Step 2. Import the datasets *student-mat* and *student-por* and concat them.

In [6]:
df1=pd.read_csv('student-mat.csv')
df2=pd.read_csv('student-por.csv')

In [7]:
df1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [8]:
df2.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [9]:
df = pd.concat([df1,df2], axis=0).reset_index(drop=True)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10
1040,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16
1041,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9
1042,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10
1043,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11

### Step 3. Assign it to a variable called df.

In [10]:
# df.info()

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [11]:
df= df.iloc[:,0:12]
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,course,mother
1040,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother
1041,MS,F,18,U,GT3,T,1,1,other,other,course,mother
1042,MS,M,17,U,LE3,T,3,1,services,services,course,mother
1043,MS,M,18,R,LE3,T,3,2,services,other,course,mother

### Step 5. Create a lambda function that captalize strings.

In [12]:
# df['Mjob'] = df['Mjob'].str.capitalize()

In [13]:
for i in df:
    if df[i].dtype=='object':
        df[i] = df[i].apply(lambda x : x.capitalize())

In [14]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,Gp,F,18,U,Gt3,A,4,4,At_home,Teacher,Course,Mother
1,Gp,F,17,U,Gt3,T,1,1,At_home,Other,Course,Father
2,Gp,F,15,U,Le3,T,1,1,At_home,Other,Other,Mother
3,Gp,F,15,U,Gt3,T,4,2,Health,Services,Home,Mother
4,Gp,F,16,U,Gt3,T,3,3,Other,Other,Home,Father
...,...,...,...,...,...,...,...,...,...,...,...,...
1039,Ms,F,19,R,Gt3,T,2,3,Services,Other,Course,Mother
1040,Ms,F,18,U,Le3,T,3,1,Teacher,Services,Course,Mother
1041,Ms,F,18,U,Gt3,T,1,1,Other,Other,Course,Mother
1042,Ms,M,17,U,Le3,T,3,1,Services,Services,Course,Mother
1043,Ms,M,18,R,Le3,T,3,2,Services,Other,Course,Mother

### Step 6. Convert  both Mjob and Fjob in Uppercase

In [15]:
for i in df:
    if i=='Mjob' or i=='Fjob':
        df[i] = df[i].apply(lambda a:a.upper())

In [16]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,Gp,F,18,U,Gt3,A,4,4,AT_HOME,TEACHER,Course,Mother
1,Gp,F,17,U,Gt3,T,1,1,AT_HOME,OTHER,Course,Father
2,Gp,F,15,U,Le3,T,1,1,AT_HOME,OTHER,Other,Mother
3,Gp,F,15,U,Gt3,T,4,2,HEALTH,SERVICES,Home,Mother
4,Gp,F,16,U,Gt3,T,3,3,OTHER,OTHER,Home,Father
...,...,...,...,...,...,...,...,...,...,...,...,...
1039,Ms,F,19,R,Gt3,T,2,3,SERVICES,OTHER,Course,Mother
1040,Ms,F,18,U,Le3,T,3,1,TEACHER,SERVICES,Course,Mother
1041,Ms,F,18,U,Gt3,T,1,1,OTHER,OTHER,Course,Mother
1042,Ms,M,17,U,Le3,T,3,1,SERVICES,SERVICES,Course,Mother
1043,Ms,M,18,R,Le3,T,3,2,SERVICES,OTHER,Course,Mother

### Step 7. Print the last elements of the data set.

In [17]:
df.iloc[-1,-2:-1]

reason    Course
Name: 1043, dtype: object

In [18]:
df.iloc[-1,-1:]

guardian    Mother
Name: 1043, dtype: object

### Step 8. Create a function called majority that return a boolean value to a new column called legal_drinker

In [19]:
def majority(y):
    if y>18:
        return True
    else:
        return False
df['legal_drinker'] = df['age'].apply(majority)

In [20]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,Gp,F,18,U,Gt3,A,4,4,AT_HOME,TEACHER,Course,Mother,False
1,Gp,F,17,U,Gt3,T,1,1,AT_HOME,OTHER,Course,Father,False
2,Gp,F,15,U,Le3,T,1,1,AT_HOME,OTHER,Other,Mother,False
3,Gp,F,15,U,Gt3,T,4,2,HEALTH,SERVICES,Home,Mother,False
4,Gp,F,16,U,Gt3,T,3,3,OTHER,OTHER,Home,Father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,Ms,F,19,R,Gt3,T,2,3,SERVICES,OTHER,Course,Mother,True
1040,Ms,F,18,U,Le3,T,3,1,TEACHER,SERVICES,Course,Mother,False
1041,Ms,F,18,U,Gt3,T,1,1,OTHER,OTHER,Course,Mother,False
1042,Ms,M,17,U,Le3,T,3,1,SERVICES,SERVICES,Course,Mother,False
1043,Ms,M,18,R,Le3,T,3,2,SERVICES,OTHER,Course,Mother,False

### Step 9. Multiply every number of the dataset by 10.

In [29]:
for i in df:
    if df[i].dtype!='object':
        df[i] = df[i]*10

In [30]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,Gp,F,180,U,Gt3,A,40,40,AT_HOME,TEACHER,Course,Mother,0
1,Gp,F,170,U,Gt3,T,10,10,AT_HOME,OTHER,Course,Father,0
2,Gp,F,150,U,Le3,T,10,10,AT_HOME,OTHER,Other,Mother,0
3,Gp,F,150,U,Gt3,T,40,20,HEALTH,SERVICES,Home,Mother,0
4,Gp,F,160,U,Gt3,T,30,30,OTHER,OTHER,Home,Father,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,Ms,F,190,R,Gt3,T,20,30,SERVICES,OTHER,Course,Mother,10
1040,Ms,F,180,U,Le3,T,30,10,TEACHER,SERVICES,Course,Mother,0
1041,Ms,F,180,U,Gt3,T,10,10,OTHER,OTHER,Course,Mother,0
1042,Ms,M,170,U,Le3,T,30,10,SERVICES,SERVICES,Course,Mother,0
1043,Ms,M,180,R,Le3,T,30,20,SERVICES,OTHER,Course,Mother,0