# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [4]:
# pd.read_table('chipotle.tsv')

In [5]:
a = pd.read_csv('chipotle.tsv', sep='\t')
a

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo = a
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [7]:
 chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

In [10]:
chipo[chipo['item_price']>10].shape[0]

1130

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and that column which contain each `item_price`

In [18]:
chipo['each_item_price'] = chipo['item_price']/chipo['quantity']

In [19]:
chipo

,order_id,quantity,item_name,choice_description,item_price,each_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.3900,2.39000
1,1,1,Izze,[Clementine],3.3900,3.39000
2,1,1,Nantucket Nectar,[Apple],3.3900,3.39000
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.3900,2.39000
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",2.1225,1.06125
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.7500,11.75000
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.7500,11.75000
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.2500,11.25000
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.7500,8.75000
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.7500,8.75000

### Step 6. Sort by the name of the item

In [21]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price,each_item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],1.6225,0.81125
341,148,1,6 Pack Soft Drink,[Diet Coke],6.4900,6.49000
1849,749,1,6 Pack Soft Drink,[Coke],6.4900,6.49000
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.4900,6.49000
2713,1076,1,6 Pack Soft Drink,[Coke],6.4900,6.49000
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.7500,8.75000
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.7500,8.75000
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.4900,8.49000
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.2500,11.25000
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.4900,8.49000

### Step 7. What was the quantity of the most expensive item ordered?

In [23]:
chipo['each_item_price'] = chipo['each_item_price'].max()

In [24]:
chipo

,order_id,quantity,item_name,choice_description,item_price,each_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.3900,11.89
1,1,1,Izze,[Clementine],3.3900,11.89
2,1,1,Nantucket Nectar,[Apple],3.3900,11.89
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.3900,11.89
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",2.1225,11.89
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.7500,11.89
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.7500,11.89
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.2500,11.89
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.7500,11.89
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.7500,11.89

In [27]:
chipo['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [29]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

18

In [30]:
chipo

,order_id,quantity,item_name,choice_description,item_price,each_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.3900,11.89
1,1,1,Izze,[Clementine],3.3900,11.89
2,1,1,Nantucket Nectar,[Apple],3.3900,11.89
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.3900,11.89
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",2.1225,11.89
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.7500,11.89
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.7500,11.89
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.2500,11.89
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.7500,11.89
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.7500,11.89

### Step 9. How many times people orderd more than one Canned Soda?

In [33]:
len(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity']>1)])

20

# Step 10 How Much time people orderd more than one Conned Soda?

In [42]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity']>1)]['quantity'].sum()

42